body{
	font-family: 'Muli', sans-serif;
}

.box{
	display: block;
	width: 100px;
	height: 100px;
	background-color: #CCCCCC;
	margin-bottom: 20px;
	border: 2px black solid;

}

#box2{
	width: 360px;
	height: 130PX;
	position: relative;
}

.caja{
	position: absolute;
	width: 100px;
	height: 100px;
	top: 15px;
	border: 2px black solid;
}

#caja1{
	left: 15px;
}

#caja2{
	left: 130px;
}

#caja3{
	left: 245px;
}


#box3 {
	position: absolute;
}

#box4 {
	position: relative;
	left: 115px;
}